.girdle.the-legend-container,
.the-legend-container {
  border: 10px solid var(--color-neutral-60);
  margin-top: var(--layout-gap-large);
  padding: var(--layout-gap-default);
  font-family: Arial, Helvetica, sans-serif !important;
}

.the-legend-container .the-legend-title {
  font-family: var(--typography-cursive-font-family);
  margin: var(--layout-gap-large) 0;
}

.the-legend-container p {
  margin: auto;
  margin-bottom: var(--layout-gap-default);
  max-width: var(--layout-max-readable-line-length);
}
